body {
    margin-top: 180px;
    background: grey;
   
}

.todofondo {
    background: whitesmoke;
    border-radius: 20px;
    padding: 60px;

}

ul li {
    border: whitesmoke 2px solid;
    list-style: none;
    padding: 5px;
    background: rgb(162, 159, 159);
    margin: 6px;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    
}

ul {
    padding: 0;
    margin-bottom: 0;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: gray;
}

input {
    border: none;
    width: 100%;
}

svg {
    margin:3px;
    

}

.tareas {
    color: rgb(72, 72, 72);
    margin-top: 9px;
}
